# Eclipse stuff
.settings/
.externalToolBuilders/
.classpath

# Maven
dependency-reduced-pom.xml

# Intellij
*.iml
*.ipr
*.iws
.idea/

# Netbeans
nbproject/
nbactions.xml

# Vim
.*.sw[a-p]

# Mac filesystem dust
.DS_Store/

# Linux temp files
*~

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Plugins
agitar/

# Binary
build/
target/
bin/
dist/

# Backup files
*.bak

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt
